.app-game {
  background-color: #13538881;
  box-sizing: border-box;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 15px;
  padding-left: 15px;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
  max-width: 1140px;
  border-radius: 10px;
  display: flex;
}

.app-game-content {
  border: 1px solid rgb(39, 47, 71);
  margin-left: 5px;
  border-radius: 10px;
  flex: 0 0 75%;
  max-width: 75%;
}

.App-game-content-list-game:hover {
  border: 3px solid rgb(0, 0, 0);
}

.app-game-search-content {
  border: 1px solid rgb(39, 47, 71);
  margin-left: 5px;
  border-radius: 10px;
  flex: 0 0 100%;
  max-width: 100%;
}