<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
<div style="text-align:center;color:white;background-color:rgb(39,47,71);">
    <h1 style="margin-top: 10px;flex: 0 0 100%;max-width: 100%;font-size: 2.5rem;">
        <span th:text="#{email.user.verification.title}"></span> :
    </h1>
    <span th:text="${url}"></span>
    <div style="border: 1px solid rgb(0, 0, 0);margin-top: 30px;flex: 0 0 100%;width: 100%;max-width: 600px;
  display: flex;flex-direction: column;justify-content: space-evenly;align-items: center;">

    </div>
</div>
</body>
</html>