html, body {
  height: 100%;
}

#root{
  height: 100%;
}


.App {
  text-align: center;
  color: white;
  background-color: rgb(39, 47, 71);
  flex-direction: column;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.App-logo {
  height: 100%;
  pointer-events: none;
  position: relative;
}

.App-footer {
  background-color: #000000;
  min-height: 8vh;
  display: flex;
  flex-direction: row;
}

.App-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #000000;
  min-height: 8vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: calc(5px + 2vmin);
  color: white;
}

.App-logo {
  height: 5vmin;
  pointer-events: none;
  position: relative;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.Error{
  color: #911010;
}