.app-list {
    display: flex;
    flex-wrap: wrap;
}

.app-game-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  
  }

  .app-game-footer button {
    border: none;
    background-color: #000000;
    margin: 20px;
    display: inline-block;
    border-radius: 6px;
    line-height: 15px;
    padding: 10px 15px;
    font-size: 15px;
    color: white;
  
  }
  
  .app-game-footer a:hover {
    background-color: rgb(56, 113, 219);
  }
  
  .app-game-footer-active {
    background-color: rgb(56, 113, 219);
  }