.app-content-loading {
    width: 100%;
    margin-top: 10%;
    margin-bottom: 20%;

}

.loading-img {
    margin-top: 10%;
    width: 300px;
}

@media (prefers-reduced-motion: no-preference) {
    .loading-img  {
        animation: app-logo-spin infinite 10s linear reverse;
    }
}